<% if (site.categories.length){ %>
  <div class="widget-wrap">
    <p class="widget-title"><%= __('categories') %></p>
    <div class="widget">
      <%- list_categories({show_count: theme.show_count}) %>
    </div>
  </div>
<% } %>
